<h1>Card</h1>
<div id="card">
{{#if courses.length}}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td>
                <button class="btn btn-small js-remove" data-id="{{_id}}">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<p><strong>Price: <span class="price">{{price}}</span></strong></p>
{{else}}
<p>Card is empty</p>
{{/if}}
</div>